* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F2F2F2;
}

.container {
    width: min(90vw, 800px); 
    margin: auto;
    background: white;
    height: 800px;
    border-radius: 0.5rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: #581BA8;
    opacity: 0.5;
    margin: 2rem;
    margin-bottom: 4rem;
    padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 100%;
}

input {
    margin: auto;
    display: block;
    margin-bottom: 1rem;
    padding: 0.8rem;
    width: 80%;
    border: 1px solid #C5CED4;
    border-radius: 0.2rem;
    font-family: 'Poppins', sans-serif;
}

button {
    margin: auto;
    display: block;
    width: 80%;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    cursor: pointer;
    border: none;
    background: #581BA8;
    color: white;
    font-family: 'Poppins', sans-serif;
}

p {
    background: #F2F2FD;
    margin: auto;
    /*display: block;*/
    color: black;
    padding: 0.7rem;
    font-family: 'Poppins', sans-serif;
    width: 80%;
}


